@mixin hero-headings($margin-v: 25px, $width: 55%) {
  width: $width;
  margin: {
    top: $margin-v;
    bottom: $margin-v;
    left: auto;
    right: auto;
  };

  @include mobile-to-tablet {
    width: 100%;
    padding: 0 35px;
  }
}