
body {
  font:{
    family: $primary-font-family;
    size: $base-font-size;
    color: $content-color;
    weight: $normal;
  };
  line-height: $base-line-height;
  color: $content-color;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $secondary-font-family; font-weight: $heading-normal; color: darken($content-color, 30%) }
h1 {
  @include adjust-font-size-to(35px);
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  @include padding-leader();
}

ul {
  //background: $bullet;
  padding-left: 35px;
  list-style: disc;
  @include padding-leader();
  li {
    padding-left: 8px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


// Title Specific Classes
@mixin section-title-mix {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: lighten($content-color, 10%);
  @include adjust-font-size-to(12px);
}