// Font Family
$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
// Font Wight
$normal: 400;
$bold: 600;
$heading-normal: 400;
$heading-bold: 700;
// Font Size
$base-font-size: 14px;
$base-line-height: 22px;

// Colors
$black: #000;
$brand-color: #1d2453;
$content-color: #868686;
$important-mark-color: #f8fa42;

$primary-action: #0c42ff;

// Breakpoints
$md-screens: 40.063em;
$lg-screens: 64.063em;
$xl-screens: 90.063em;


// Module Assets
// Nav Bar
$nav-link-color: #222;
$logo-placement: 160px;




